<div class="container relative mb-0 lg:mb-20">{{ section.settings.content121 }}</div>



{% schema %}
{
    "presets": [
        {
            "category": "Text",
            "name":"Enter Custom html"
        }
    ],
    "settings": [
        {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "Enter Custom Html"
        }


    ]
}
{% endschema %}